services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_DOCKER}
      - POSTGRES_DB=${POSTGRES_DB_DOCKER}
      - POSTGRES_USER=${POSTGRES_USER_DOCKER}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: backend_app
    ports:
      - "8081:8080"
    environment:
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=${DATABASE_URL_DOCKER}
      - REDIS_URL=${REDIS_URL_DOCKER}
      - CLOUDINARY_NAME=${CLOUDINARY_NAME}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy