services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=db_daily_greens
      - POSTGRES_USER=postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: backend_app
    ports:
      - "8081:8080"
    environment:
      - ENVIRONMENT=development
      - APP_SECRET=6d0deb87aca67cf3d6be19513b335e29
      - DATABASE_URL=postgres://postgres:123@postgres:5432/postgres?sslmode=disable
      - REDIS_URL=redis://redis:6379/0
      - CLOUDINARY_NAME=dpa0efslk
      - CLOUDINARY_API_SECRET=ExJO10-e8TPWayG4Ed8Q5vdLfJA
      - CLOUDINARY_API_KEY=137599841626175
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy